.appinfo {
    flex: 1;
    height: calc(100vw / 16 * 7.5);
    display: flex;
    position: relative; 
    overflow: hidden;
}

.app-main {
    width: 19.7%;
    height: 80%;
    /* background-image:  url('./img/app_main.png');  */
    background-size: cover; 
    background-position: center;
    position: absolute;
    bottom: 1%; 
    left: 40%;
    /* transition: opacity 1s ease-in-out; */
}

.app-tutorial-dic {
    width: 30%;
    height: 26.7%;
    background-image:  url('./img/app_tutorial_dic.png'); 
    background-size: contain; 
    background-position: center;
    position: absolute;
    bottom: 40%; 
    left: 5%;
}