@keyframes horizontal-scroll {
    0% {
      transform: translateX(0);
      opacity: 0.25;

    }
    50% {
        transform: translateX(15%);
        opacity: 0.8;
  
      }
    100% {
      transform: translateX(30%);
      opacity:0;

    }
  }
a:active,
a:focus,
a{
    color:rgb(62, 9, 220) ;
}

.banner.visible{
    opacity: 0.95;
    transform: translateY(0);
}

.banner{

    padding: 13px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    top:auto;
    background-color: rgb(18, 18, 18);
    color: #1e1c1c;
    text-align: justify;
    z-index: 100;
    padding-bottom:27px;
    padding-top: 12px;

    display: flex;


    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.wholeLR{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    cursor: pointer;
    /* gap: 10px; */
}

.bannerMainLogo{
    width: 63px;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 3px;
}

.orderText{
    width: 220px;
    padding-left: 18px;
}

.left-grp{
    display: flex;
    background-color: rgb(108, 102, 213);
    border-radius: 10px;
    width: 400px;
    height: 65px;
    padding-bottom: 4px;
    align-items: center;
}

.right-grp{
    display: flex;
    align-items: center;

}
.type1,
.type2{
    margin: -3px;
}

.group1{
    align-items: center;
    display: -webkit-box;
    display: flex;

}
.position2{
   color: rgb(22, 22, 22);
   font-weight: 600;
}
.arrow{
    width: 40px;
    height: 40px;
    animation: horizontal-scroll 1.5s infinite linear;
}

.img{
    width: 200px;
    padding-right: 10px;
    
}

.chatbot-button {
    background-color: white;
    border-radius: 20px;
    position: absolute;
    bottom: 120px;
    left: 20px;
    cursor: pointer;
}



.chatbotmodal {
    position: absolute;
    left: -110px;
    bottom: 200px;
    color: red;
    background-image: url('./img/phone.png');
    background-size: contain;
    width: 500px;
    height: 500px;
}

.chatbotmodal-content {
    position: absolute;
    width: 217px;
    height: 445px;
    left: 28.2%;
    top: 6%;
    background-color: white;
    /* overflow: hidden; */
    
}

.chatbotmodal-bot {
    width: 217px;
    height: 400px;
    overflow-y: scroll;
}

.chatbotmodal-user {
    width: 217px;
    height: 45px;
}

.ordermodal {
    position: absolute;
    left: 350px;
    bottom: 120px;
    background-color: aquamarine;
    border-radius: 10px;
    width: 400px;
    height: 515px;
}


.StyledDiv {
    margin: 10px 0;
}

.StyledH2 {
    color: #fff;
    background-color: rgb(35, 243, 174);
    padding: 10px;
    text-align: center;
    margin: 5px;
    border: none;
    border-radius: 10px;
}

.StyledForm {
    max-width: 340px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.StyledLabel {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.StyledInput {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.StyledButton{
    width: 50%;
    padding: 10px;
    background-color: rgb(35, 243, 174);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-weight: bolder;
    display: block;
    margin: 0 auto;
    &:hover {
      background-color: #2ecc71;
    }
}

.StyledSelect {
    border: none; 
    outline: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 3px;
    margin-left: 3px;   
}

.ordermodal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    text-justify: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    &:hover {
        background-color: #2ecc71;
        color: white;
    }
}