@keyframes horizontal-scroll {
    0% {
      transform: translateX(0);
      opacity: 0.25;

    }
    50% {
        transform: translateX(15%);
        opacity: 0.8;
  
      }
    100% {
      transform: translateX(30%);
      opacity:0;

    }
  }

a:active,
a:focus,
a{
    color:rgb(62, 9, 220) ;
}

.banner.visible{
    opacity: 0.95;
    transform: translateY(0);
}

.banner{

    padding: 13px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    top:auto;
    background-color: rgb(18, 18, 18);
    color: #1e1c1c;
    /* text-align: justify; */
    z-index: 100;
    padding-bottom:27px;
    padding-top: 12px;

    display: flex;


    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.wholeLR{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    cursor: pointer;
    /* gap: 10px; */
}

.bannerMainLogo{
    width: 63px;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 3px;
}

.orderText{
    width: 220px;
    padding-left: 18px;
}

.left-grp{
    display: flex;
    background-color: rgb(108, 102, 213);
    border-radius: 10px;
    width: 400px;
    height: 65px;
    padding-bottom: 4px;
    align-items: center;
}

.right-grp{
    display: flex;
    align-items: center;

}
.type1,
.type2{
    margin: -3px;
}

.group1{
    align-items: center;
    display: -webkit-box;
    display: flex;

}
.position2{
   color: rgb(22, 22, 22);
   font-weight: 600;
}
.arrow{
    width: 40px;
    height: 40px;
    animation: horizontal-scroll 1.5s infinite linear;
}

.img{
    width: 200px;
    padding-right: 10px;
    
}

.chatbot-button {
    width: 90px;
    opacity: 1;
    font-size: 20px;
    border-radius: 30px;
    position: absolute;
    bottom: 110px;
    left: 40px;
    cursor: pointer;
    /* border: 3px solid #6961dd; */
    z-index: 2;
}
.x{
    width: 70px;
}
.chat{
    width: 90px;
}

.chatbot-button-name {
    position: absolute;
    bottom: 92px;
    left: 47px; 
    width: 190px;
    padding-inline-end: 10px;
    height: 77px;
    background-color: #6961dd;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
    font-weight: bolder;
    font-size:x-large;
    color: white;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateX(-5%);
    visibility: hidden;
    
}

.chatbot-btn:hover .chatbot-button-name {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
}

.chatbotmodal {
    position: absolute;
    left: -100px;
    bottom: 180px;
    background-image: url('./img/phone.png');
    background-size: contain;
    width: 650px;
    height: 650px;
    overflow-y : auto;
}

.chatbotmodal-bot {
    width: 283px;
    height: 532px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chatbotmodal-user {
    width: 283px;
    height: 45px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.chatbotmodal-chat {
    width: 170px;
    height: 30px;

    background-color: #fff;
    border: 1px solid #bcbcbc;
    resize: none;
    color: #000;
    font-size: 16px;
    line-height: 18px;
    border-radius: 8px;
}

.chatbotmodal-user button {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin: 2px;
    border: 0px;
    cursor: pointer;
}

.chatbotmodal-home {
    background-image: url('./img/home-icon.png');
    background-size: cover;
}

.chatbotmodal-send {
    background-image: url('./img/send-icon.png');
    background-size: cover;
}

.chatbotmodal-content {
    position: absolute;
    width: 267px;
    height: 532px;
    left: 28.2%;
    top: 6%;
    background-color: white;
    /* overflow: hidden; */
}

.chatbotmodal-request-bot {
    padding: 3px 5px;
    display: grid;
    font-size: 14.5px;
    grid-template-columns: 1fr 5.5fr;
    margin-top: 10px;
}
.chatbotmodal-client{
    padding: 3px 5px;
    display: grid;
    font-size: 14.5px;
    grid-template-columns: 1fr;
    margin-top: 10px;
}
.chatbotmodal-request-bot-image {
    height: 40px;
    background-image: url('../../img/MainLogo.png');
    background-size: cover;
}
  
/* 말풍선 스타일 */
.chatbotmodal-request-bot-answer {
    margin-left: 12px;
    margin-right: 18px;
    display: inline-block;
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 10px;
    position: relative;
  }
  
  /* 말풍선 가상 요소(삼각형) */
  .chatbotmodal-request-bot-answer::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -9px;
    border-width: 8px;
    border-style: solid;
    border-color: #f2f2f2 transparent transparent transparent;
  }
.chatbotmodal-client{
    width: 100%;
}

.chatbotmodal-request-user{
    display: flex;
    justify-content: end;
}
  /* client 말풍선 스타일 */
.client {
    /* margin-left: 140px; */
    margin-top: 10px;
    margin-right: 26px;
    display: inline-block;
    background-color: #eae2fa;
    border-radius: 8px;
    padding: 10px;
    position: relative;
  }
  
  /* 말풍선 가상 요소(삼각형) */
  .client::after {
    content: "";
    position: absolute;
    top: 10px;
    right: -9px;
    border-width: 8px;
    border-style: solid;
    border-color: #eae2fa transparent transparent transparent;
  }

.ordermodal {
    position: absolute;
    left: 20%;
    bottom: 120px;
    background-color: aquamarine;
    border-radius: 10px;
    width: 400px;
    height: 540px;
}


.StyledDiv {
    margin: 10px 0;
}

.StyledH2 {
    color: #fff;
    background-color: rgb(35, 243, 174);
    padding: 10px;
    text-align: center;
    margin: 5px;
    border: none;
    border-radius: 10px;
}

.StyledForm {
    max-width: 340px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.StyledLabel {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.StyledInput {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.StyledButton{
    width: 50%;
    padding: 10px;
    background-color: rgb(35, 243, 174);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-weight: bolder;
    display: block;
    margin: 0 auto;
    &:hover {
      background-color: #2ecc71;
    }
}

.StyledP {
    text-align: center;
}

.StyledSelect {
    border: none; 
    outline: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 3px;
    margin-left: 3px;   
}

.ordermodal-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    &:hover {
        background-color: #2ecc71;
        color: white;
    }
}

.chatbot-btn{
    
    margin-bottom: 6px;
    background-color: transparent;
    border: 1.5px solid #000000;
    border-radius: 15px;
    font-weight: 600;
    padding: 4px;
    padding-inline: 7px;
    text-align: center;
    width: 100%;



}

.btn1{
    margin-top: 8px;    
}
