.MainDash{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.logoimg {
  position: absolute;
  top: 20%;
  left: 2%;
}

.Navbar{
  position: absolute;
  padding: 30px;
}


.Menu{
  position: absolute;
  top: 20%;
  right: 13%;
}

.header{
  z-index: 50; /* 값이 높을수록 요소가 더 위에 나타남 */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 30px;

}


.carousel .slide {
  /* border-radius: 20px;  */
  /* 둥글게 만들고 싶은 정도를 조절하세요 */
  overflow: hidden;
}

@media screen and (max-width: 1200px) {

    .MainDash{
        justify-content: flex-start;
        /* margin-top: 2rem; */
    }
    
}

@media screen and (max-width: 768px) {

  .MainDash{
    align-items: center;
  }
  
}

